.hero {
	position: relative;
	width: 100%;
	height: 100vh;
	background:
		linear-gradient(to bottom, transparent 0%, rgba(40, 50, 72, 1) 85%,
			rgba(40, 50, 72, 1) 100%),
		url('https://phatjack.github.io/K-A-landing-page/assets/hero-section/hero-section1.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
}

.hero__container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: end;
	padding-bottom: calc(var(--space-10) * 3);
}

.hero__top {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero__top .hero__top__description {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--space-6);
	color: var(--color-white);
	max-width: 400px;
}

.hero__top__description .hero__top__description-title {
	font-size: calc(var(--font-size-base) * 3.5);
	font-weight: 700;
	color: var(--color-white);
}

.hero__top__description .hero__top__description-content {
	font-size: calc(var(--font-size-base) * 1.5);
	text-align: center;
	line-height: 1.5;
}

.hero__top__description .hero__top__description-button {
	padding: var(--space-2) calc(var(--space-5));
	background-color: var(--color-orange);
	color: var(--color-white);
	font-size: calc(var(--font-size-base) * 1.5);
	box-shadow: 0 4px 12px 0 var(--color-light-orange);
}

.hero__top__lists {
	position: relative;
	width: 100%;
	display: none;
	gap: var(--space-5);
	align-items: end;
}

.hero__top__lists img.hero__top-item:nth-child(1) {
	width: 20em;
	height: 25em;
	border: 6px solid white;
}

.hero__top__lists img.hero__top-item {
	width: 16em;
	height: 18em;
	border-radius: 40px;
}

.hero__container .hero__dots {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	gap: var(--space-2);
	padding-bottom: var(--space-10);
}

.hero__dots .hero__dot {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: gray;
}

.hero__dots .hero__dot:nth-child(1) {
	background-color: white;
}

@media screen and (min-width:768px) {

	.hero__container {
		padding-left: calc(var(--space-10) * 2);
	}

	.hero__top .hero__top__description {
		justify-content: start;
		align-items: start;
	}

	.hero__top .hero__top__description .hero__top__description-content {
		text-align: left;
	}

	.hero__top__lists {
		display: flex;
	}

	.hero__container .hero__dots {
		display: flex;
	}

	.hero__top {
		justify-content: space-between;
		gap: calc(var(--space-10));
	}
}

@media screen and (min-width:1240px) {

	.hero__container .hero__top .hero__top__description,
	.hero__container .hero__top .hero__top__lists {
		width: 50%;
	}
}